spring.application.name=eshoes

server.servlet.contextPath=/eshoes
server.port=8080

# cofing do nivel de log
logging.level.org.springframework.boot.autoconfigure=info
logging.level.org.hibernate.SQL=debug
logging.level.org.hibernate.type.descriptor.sql.BasicBinder=error

# datasource - configuracoes do BD
spring.datasource.url                                              = jdbc:postgresql://localhost:5432/eshoes
spring.datasource.username                                         = postgres
spring.datasource.password                                         = admin

spring.jpa.show-sql                                                = true
spring.jpa.properties.hibernate.format_sql                         = true
spring.datasource.driver-class-name								   = org.postgresql.Driver
spring.jpa.hibernate.ddl-auto                                      = create-drop
spring.jpa.properties.hibernate.dialect 						   = org.hibernate.dialect.PostgreSQLDialect

# Configurando Pool de conexaoes
spring.datasource.hikari.minimumIdle                               =5
spring.datasource.hikari.maximumPoolSize                           =2000
spring.datasource.hikari.idleTimeout                               =300000
spring.datasource.hikari.poolName                                  =SpringBootJPAHikariCP
spring.datasource.hikari.maxLifetime                               =2000000
spring.datasource.hikari.connectionTimeout                         =300000

spring.datasource.test-while-idle                                  =true
spring.datasource.validation-query                                 =SELECT 1;
spring.datasource.time-between-eviction-runs-millis                =60000
spring.datasource.hikari.idle-timeout                              =900000
spring.datasource.hikari.validationTimeout                         =300000

spring.datasource.remove-abandoned                                 =true
spring.datasource.remove-abandoned-timeout                         =60

#spring.jpa.properties.hibernate.generate_statistics               =true
spring.jpa.properties.hibernate.jdbc.batch_size                    =100
spring.jpa.properties.hibernate.order_inserts                      =true
spring.jpa.properties.hibernate.order_updates                      =true
spring.jpa.properties.hibernate.batch_versioned_data               =true

